<section id="page-header" class="margin-50">
  
  <div class="container mts">
    <div class="row mt">
      <div class="col-lg-8">
	<h1>Search Results</h1>
      </div>
      
      <div class="col-lg-4">
	<h4>Share:</h4>
	
        <!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style ">
	  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
	  <a class="addthis_button_tweet"></a>
	  <a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
	  <a class="addthis_counter addthis_pill_style"></a>
	</div>
	<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=timbereslwebsite"></script>
	<!-- AddThis Button END -->
      </div>
      
    </div><!-- /row -->
  </div><!-- /container -->
  
</section>  

<! ========== / Asset Header ==========>

<! ========== Equation Search =======>

<section id="equation-search" class="margin-50">
  <div class="container">
    
    <div class="row">
      
      <div class="activity-icons">
	
	<ul id="icons">
          <li id="camping"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Camping">Wilderness Camping</a></li>
          <li id="canoe"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Canoeing">Canoeing</a></li>
          <li id="climbing"><a class="current" href="#" data-toggle="tooltip" data-placement="bottom" title="Climbing">Climbing</a></li>
          <li id="hike"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Hiking">Hiking</a></li>
          <li id="kayak"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Kayaking">Kayaking</a></li>
          <li id="mtb"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Mountain Biking">Mountain Biking</a></li>
          <li id="skate"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Skating">Skating</a></li>
          <li id="ski"><a class="current" href="#" data-toggle="tooltip" data-placement="bottom" title="Skiing">Skiing</a></li>
          <li id="snowshoe"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Snow Shoeing">Snow Shoeing</a></li>
          <li id="surf"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Surfing">Surfing</a></li>
          <li id="swim"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Swimming">Swimming</a></li>
          <li id="xski"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Cross Country Skiing">Cross Country Skiing</a></li>
	</ul>	
      </div>
    </div><!-- /row -->
    
    <div class="row">
      <!-- The Map -->
      <style type="text/css">#map-canvas{height:450px;}</style>
      <div id="map-canvas"></div>
    </div><!-- /row -->
    
    
    <div class="row">
      <div class="equation-results-home">
	<div class="col-lg-10">
	  
	  <input type="text" class="" placeholder="Hiking + Halifax">
	</div><!-- /col-lg-10 -->
	
	<div class="col-lg-2">
	  
	  <button class="btn equation-search-lg-btn"  type="button"> Search <i class="fa fa-long-arrow-right"></i></button>
	</div><!-- /col-lg-2 -->
	
      </div>
    </div><!-- /row -->
    
    
  </div><!-- /container -->
</section>  
<! ========== / Equation Search ==========>


<! ========== Search Results ==========>
<section id="search-results" class="margin-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
	

	<% if @results.any? %>
	<table class="table table-hover results">
	  <thead>
	    <tr>
	      <th></th>
	      <th>Activity Name / Description</th>
	      <th>Distance</th>
	      <!-- <th>Rating</th>   Exclude for now -->
	      <th>Details</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @results.each do |result| %>
	    <% @activities=result.asset_activities %>
	    <tr class="mappoint" id='<%= result.asset_id %>' data-lat='<%= result.lat %>' data-lng='<%= result.lng %>' data-name='<%= result.asset_name %>' data-zoom=false>
	      <!-- need to track images in asset table -->
              <td><%= image_tag 'hiking.jpg', :class => "img-responsive" %></td>
              <td><%= link_to result.asset_name.titleize + ' - ' + truncate(result.description), controller: "assets", action: "show", id:result.asset_id, 'data-no-turbolink' => true %></td>
              <td>20 mins</td>
              <!-- <td> Rating will go here </td> -->
	      <td class="field_more" colspan="2"><span class="show-more">More</span></td>
	    </tr>
	    
	    <tr class="hidden-row" id='<%= result.id %>' >
	      <td class="hidden-cell" style="padding: 0;" colspan="5"> 
		<div class="hidden-data" style="padding: 16px">
		   <li>Time Open: <%= result.time_open %></li> 
		   <li>Time Closed: <%= result.time_closed %></li>
		   
		   <% if (result.washrooms?) %>
		   <li>Washrooms: Yes</li>
		   <% else %>
		   <li>Washrooms: No</li>
		   <% end %>

		   <% if (result.parking?) %>
		   <li>Parking: Yes</li>
		   <% else %>
		   <li>Parking: No</li>
		   <% end %>

		   <% if (result.public_transit?) %>
		   <li>Public Transit: Yes</li>
		   <% else %>
		   <li>Public Transit: No</li>
		   <% end %> 
		   
		   <% if (result.is_active?) %>
		   <li>Active: Yes</li>
		   <% else %>
		   <li>Active: No</li>
		   <% end %>
		   
		   <% if (result.accessibility_access?) %>
		   <li>Accessibility: Yes</li>
		   <li>Accessibility Information: <%= result.accessibility_information%></li>
		   <% else %>
		   <li>Accessibility: No</li>
		   <% end %>
		
		  <!--<li>City: <%= result.city(:name) %></li> NOT WORKING-->
		  <% @activities.each do |activity| %>
		  <% @activity_type=activity.activity_type%>
		  
		   <li>Activity Name: <%= @activity_type.name %></li>
		   <li>Total Time: <%= activity.duration %></li>
		   <li>Difficulty: <%= activity.difficulty %></li>
		   <li>User Rating: <%= activity.user_rating %></li>
		   <li>Difficulty Rating: <%= activity.difficulty_rating %></li>
		   
		   <% if (activity.is_loop?) %>
		   <li>Is Loop: Yes</li>
		   <% else %>
		   <li>Is Loop: No</li>
		   <% end %>
		   
		   <li>How far? <%= activity.distance %></li>
		   <% end %>  
	      </div>
            </td>
          </tr>
          <% end %>
          </tbody>
	</table>
	<% else %>
        <h3><%= "Sorry, your search didn't return a result" %></h3>
	<% end %>
	
	
	
      </div><!-- /col -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<! ========== / Search Results ============>
