<div class="results">
<h1>Listing assets</h1>

<table>
  <thead>
    <tr>
      <th>Asset type</th>
      <th>Profile</th>
      <th>Region</th>
      <th>Name</th>
      <th>Description</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td class="asset_type_id"><%= result.asset_type_id %></td>
        <td class="profile_id"><%= result.profile_id %></td>
        <td class="region_id"><%= result.region_id %></td>
        <td class="name"><%= result.name %></td>
        <td class="description"><%= result.description %></td>
        <td class="lat"><%= result.lat %></td>
        <td class="lng"><%= result.lng %></td>
        <td class="created_by"><%= result.created_by %></td>
        <td class="updated_by"><%= result.updated_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
