<%= form_for(@template_attribute) do |f| %>
  <% if @template_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template_attribute.errors.count, "error") %> prohibited this template_attribute from being saved:</h2>

      <ul>
      <% @template_attribute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asset_category_template_id %><br>
    <%= f.number_field :asset_category_template_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
