<%= form_for(@asset_activity) do |f| %>

  <% if @asset_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset_activity.errors.count, "error") %> prohibited this asset_activity from being saved:</h2>

      <ul>
      <% @asset_activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field 'asset_id', :value => @asset.id %>
  <div class="field">
    <%= f.label :activity_type_id %><br>
    <%= f.collection_select :activity_type_id, @activity_types, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :duration, 'Total Time'%><br>
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.text_field :difficulty %>
  </div>
  <div class="field">
    <%= f.label :user_rating %><br>
    <%= f.text_field :user_rating %>
  </div>
  <div class="field">
    <%= f.label :difficulty_rating %><br>
    <%= f.text_field :difficulty_rating %>
  </div>
  <div class="field">
    <%= f.label :is_loop %><br>
    <%= f.check_box :is_loop %>
  </div>
  <div class="field">
    <%= f.label :distance, "How far?" %><br>
    <%= f.text_field :distance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> 
<% end %>
