<br /><br /><br /><br /><br /><br /><br /><br /><br />
<p id="notice"><%= notice %></p>

<p>
  <strong>Activity type:</strong>
  <%= @asset_activity.activity_type_id %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @asset_activity.duration %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @asset_activity.difficulty %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @asset_activity.quality %>
</p>


<%= link_to 'Edit', edit_asset_activity_path(@asset_activity) %> |
<%= link_to 'Back', asset_activities_path %>
