


<%= form_for(@asset) do |f| %>


  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :asset_type_id %><br>
    <%= f.collection_select :asset_type_id, @asset_types, :id, :name %>
  </div>

  <%= f.hidden_field 'user_id', :value => current_user.id %>
  
  <!--
   comment out region id for now
  <div class="field">
    <%= f.label :region_id %><br>
    <%= f.number_field :region_id %>
  </div>
  -->

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng %><br>
    <%= f.text_field :lng %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
