<%= form_for(@asset) do |f| %>

  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Please note that geometries are available in database for nearest public transit stop and location, for now leaving it with lat and lng -->
  <div class="field">
    <%= f.label :asset_type_id %><br>
    <%= f.collection_select :asset_type_id, @asset_types, :id, :name_for_select %>
  </div>

  <%= f.hidden_field :created_by, :value => current_user.id %>
  
  <div class="field">
    <%= f.label :region_id, "Select a county" %><br>
    <%= f.collection_select :region_id, @regions, :id, :name_for_select %>
  </div>
  <div class="field">
    <%= f.label :city_id, "Select nerest city" %><br>
    <%= f.collection_select :nearest_city_id, @cities, :id, :name_for_select %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :size => "80x5" %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng %><br>
    <%= f.text_field :lng %>
  </div>
  <div class="field">
    <%= f.label :washrooms, 'Has washrooms?' %>
    <%= f.check_box :washrooms %>
  </div>

  <div class="field">
    <%= f.label :parking, "Has parking?" %>
    <%= f.check_box :parking %>
  </div>
  <div class="field">
    <%= f.label :accessibility_access, "Has accessibility access?" %>
    <%= f.check_box :accessibility_access %>
  </div>
  <div class="field">
    <%= f.label :accessibility_information %><br>
    <%= f.text_area :accessibility_information, :size => "80x5" %>
  </div>
  <div class="field">
    <%= f.label :public_transit, "Accessible using public transit?" %>
    <%= f.check_box :public_transit %>
  </div>
  <div class="field">
    <%= f.label :time_open, 'Opens:' %>
    <%= f.time_field :time_open %>
  </div>
  <div class="field">
    <%= f.label :time_closed, 'Closes: ' %>
    <%= f.time_field :time_closed %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
